:root {
    --color-bg: hsl(212, 45%, 89%);
    --font-family: "Outfit", sans-serif;
    
}

body {
      /* height: 100vh; */
    /* letter-spacing: 0.01em; */
    line-height: 1.5;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}

img{
    display: block;
}